<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/styles.css" />

</head>
<body>
    <%- include ('header.ejs') %>
    <h2 class="welcome">Welcome student, <%=firstName %> </h2>
    <h2 class="admin">Manage profile</h2>
    <h2><a class="administrative" href="/change-password">Change password</a></h2>
    <hr>
    <h2 class="admin">Enrolled courses</h2>
    <% if (enrolledCourses.length > 0) { %>
        <ul>
            <% enrolledCourses.forEach(course => { %>
                <li class="names block">
                    <strong>Course Name:</strong> <%= course.course.course_name %><br>
                    <strong> <a href="/courses/<%= course.course.id %>/chapters">View Chapters</a></strong>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>You are not enrolled in any courses yet.</p>
    <% } %>
    <hr>

    
    <h2 class="admin">Available Courses</h2>
    <ul>
        <% courses.forEach(function(course) { %>
            <li class="names block">
                <strong>Course Name:</strong> <%= course.course_name %> <br>
                <strong> <a href="/courses/<%= course.id %>/chapters">View Chapters</a></strong>
                <form action="/<%= course.id %>/enrollment" method="post">
                    <button type="submit">Enroll</button>
                </form>
            </li>
        <% }); %>
    </ul>
</body>
</html>

